[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipdb = "*"
ipython = "*"
jedi = "*"
pytest = "*"
tox = "*"

[packages]
pe-generator = {editable = true,path = "."}
pathlib2 = {markers="python_version < '3.6'"}
